<md-content layout-padding class="parametros">
    <section layout-align="center center" layout-wrap="">
        
        <md-input-container>
            <label>Fecha Venta Del: </label>
            <md-datepicker
                ng-model="form.P_FECHA_1.DATE"
                md-placeholder="Enter date">
            </md-datepicker>
        </md-input-container>

        <md-input-container>
            <label>Fecha Venta Al: </label>
            <md-datepicker
                ng-model="form.P_FECHA_2.DATE"
                md-placeholder="Enter date">
            </md-datepicker>
        </md-input-container>
        <br/>

        <md-input-container>
            <label>Fecha Pago Del: </label>
            <input type="datetime-local"
                   style="width: 200px;"
                   ng-model="form.P_FECHA_3.DATE"
                   md-placeholder="Enter date">
        </md-input-container>

        <md-input-container>
            <label>Fecha Pago Al: </label>
            <input type="datetime-local"
                   style="width: 200px;"
                   ng-model="form.P_FECHA_4.DATE"
                   md-placeholder="Enter date">
        </md-input-container>
        <br/>

        <md-input-container class="md-icon-float">
            <label> Tipo de Venta: </label>
            <md-select ng-model="form.P_TEXT_1" style="width: 150px;" >
                <md-option ng-repeat="s in opVENTAS"
                           ng-value="s.VALUE">
                           {{ s.TEXT }}
                  </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-icon-float">
            <label> Fuerza de Ventas: </label>
            <md-select ng-model="form.P_TEXT_2" style="width: 150px;" >
                <md-option ng-repeat="s in opEMPRESAS"
                           ng-value="s.VALUE">
                           {{ s.TEXT }}
                  </md-option>
            </md-select>
        </md-input-container>
        <br/>
        
        <!--Botones-->
        <md-button class="md-raised md-mini md-primary" 
                   ng-disabled="consulta==true"
                   ng-click="cargar_datos()">
            Consultar
        </md-button>

        <md-button class="md-raised md-mini md-primary" 
                   ng-disabled="limpiar==true"
                   ng-click="limpiar_campos()">
            Limpiar
        </md-button>
        
        <br/>
        <md-divider></md-divider>
        <br/>
    </section>
</md-content>
<edi-grid></edi-grid>